<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All cards</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/all_cards.css">
    <script type="text/javascript" src="/scripts/all_cards_script.js"></script>
</head>
<body>
    <%- include('header.ejs') %>
    <main class="outline">
        <div class="all-cards-container">
            <h1 class="add-new-card__header header">View all created cards!</h1>
            <% if (allCards?.length === 0) { %>
                <div class="no-cards">
                    <h2>There are no avaialable cards!</h2>
                    <div>
                        <span>Start you journey right now!</span>
                        <a href="/add_new_card">Create your first card...</a>
                    </div>
                </div>
            <% } else { %>
                <div class="cards-container">
                    <% for (card of allCards) { %>
                        <div class="card-outline">
                            <div class="card-main-content">
                                <h2><%=card.title%></h2>
                                <div class="description">
                                    <div>Description:</div>
                                    <div class="tooltip-container">
                                        <div id="tooltip" class="tooltip">
                                            <small><%=card.description%></small>
                                        </div>
                                        <div class="hidden-text margin-left" onclick="hideShowTooltip(<%= allCards.indexOf(card) %>)"><%=card.description%></div>
                                    </div>
                                </div>
                                <div>
                                    Created at: <span class="margin-left"><%=card.createdAt%></span>
                                </div>
                            </div>
                            <div class="card-buttons">
                                <div>
                                    <button class="learn-button" onclick="learnCard(<%= card.id %>)">Learn</button>
                                    <form action="/edit_card/<%= card.id %>", method="POST">
                                        <button class="edit-button" type="submit"">Edit</button>
                                    </form>
                                    <button id="import-card-<%= card.id %>" class="import-button" onclick="importCard(<%= JSON.stringify(card) %>, this)">Import</button>
                                    <a id="download-card-<%= card.id %>" class="download-card-button" onclick="hideDownloadButtonShowImport(<%=card.id%>)">Download!</a>
                                </div>
                                <div>
                                    <button class="archive-button" onclick="archiveCard(<%=card.id%>)">Archive</button>
                                    <button class="remove-button" onclick="removeCard(<%=card.id%>)">Remove</button>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } %>
        </div>
    </main>
    <%- include('failure.ejs') %>
    <%- include('success.ejs') %>
</body>
</html>

<script>
    document.addEventListener("DOMContentLoaded", () => {
    try {
        document.styleSheets[0].rules
    } catch (error) {
        console.log('i must reload the page :((')
        document.location.reload()
    }
})
</script>