<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/archived_cards.css">
    <script src="/scripts/archived_cards_script.js"></script>
    <script src="/scripts/view_card_script.js"></script>
    <title><%= title %></title>
</head>
<body>
    <%- include ('header.ejs') %>
    <main class="outline">
        <% if (archivedCards) { %>
            <table>
                <caption>Archived cards</caption>
                <tr>
                    <th>Title</th>
                    <th>Created at</th>
                    <th class="words-header">Learned words</th>
                    <th>Actions</th>
                </tr>
                <% for (archivedCard of archivedCards) { %>
                    <tr>
                        <td class="sticker-title"><%= archivedCard.title %></td>
                        <td><%= archivedCard.createdAt %></td>
                        <td class="words"><%= archivedCard.rows.length %></td>
                        <td class="actions">
                            <button onclick="viewCard(<%= JSON.stringify(archivedCard) %>)">View</button>
                            <button onclick="unarchiveCard(<%= archivedCard.id %>)">Unarchive</button>
                            <button onclick="removeCard(<%= archivedCard.id %>)">Remove</button>
                        </td>
                    </tr>
                <% } %>
            </table>
        <% } else { %>
            <div class="empty-archive">
                <div>You did not learn even a single word!</div>
                <div>Go, learn, improve yourself and never give up!</div>
            </div>
        <% } %>
    </main>

    
</body>
<%- include('success.ejs') %>
<%- include('failure.ejs') %>
<%- include('view_card.ejs') %>
<div id="background"></div>
</html>