<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/learn_card.css">
    <script src="/scripts/learn_card_script.js"></script>
</head>
<body>
    <%- include('header.ejs') %>
    <main class="outline">
        <div class="learn-card-container">
            <div class="title">
                <h3>Take your time and learn this card!</h3>
                <span>Your current progress here is <b><%= card.progress %></b>%</span>
            </div>
            <div class="card-info-area">
                <div class="card-title">
                    <span class="card-name-margin">Title:</span>
                    <span><%= card.title || 'No title' %></span>
                </div>
                <div class="card-description">
                    <span class="card-name-margin description-name">Description:</span>
                    <span><%= card.description || 'No description' %></span>
                </div>
            </div>
            <div class="card-sticker">
                <% if (card.stickerRows.length) { %>
                    <div class="subtitle">Here is your sticker. Good luck and have fun!</div>
                    <% for (row of card.stickerRows) { %>
                        <div class="row">
                            <div><%= row.word || 'No word' %></div>
                            <div><%= row.translation || 'No translation' %></div>
                            <div><%= row.example || 'No example'%></div>
                        </div>
                    <% } %>
                    <div class="action-section">
                        <button onclick="improveCardProgress(<%= card._id %>)">Improved! :-)</button>
                        <button onclick="reduceCardProgress(<%= card._id %>)">Worsened... :-(</button>
                    </div>
                <% } else { %>
                    <div class="empty-card">You did not add any words yet to this card!</div>
                    <button class="go-back-button" onclick="goBack()">Go back</button>
                <% } %>
            </div>
        </div>
    </main>
    <%- include('failure.ejs') %>
    <%- include('success.ejs') %>
</body>
</html>